body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 350px;
}

.hidden {
    display: none;
}

#start-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#start-page input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#start-page button {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 20px;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #ffc107;
    border-radius: 5px;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

.choice {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
}

#result-page h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#result-page img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

#result-page p {
    font-size: 16px;
}
